.one-product-disclamer {
  /* height: 100%; */
  width: 100%;
  z-index: 50;
  padding-top: 70px;
  /* background-color: blue; */
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
.one-product {
  /* background-color: chartreuse; */
  /* display: flex;
  justify-content: space-around;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 2fr 2fr;
  padding: 20pxpx;
  background-color: white;
  column-gap: 20px;
}
.h2 {
  margin-top: 100px;
  background-color: brown;
  height: 67px;
  width: 100px;
}
.product {
  overflow: hidden;
  padding: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.product:hover {
  /* padding: 20px; */
  /* box-shadow: 2px 2px 2px 2px gray; */
  transform: scale(1.04);
  transition: all 1s ease-in-out;
}
